<div id="page-wrapper">
    <div class="header">
        <h1 class="page-header">
            Quản Lý Đơn Hàng
        </h1>
    </div>

    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <!--    Striped Rows Table  -->
                <div class="panel panel-default">
                    <div class="panel-heading">


                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Username</th>
                                        <th>Fullname</th>
                                        <th>Ngày đặt hàng</th>
                                        <th>Trạng thái đơn hàng</th>
                                        <th>Địa chỉ giao hàng</th>
                                        <th>Chức năng</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>admin</td>
                                        <td>Minh Thành</td>
                                        <td>2020-11-20 12:10:05</td>
                                        <td class="text-center">
                                            <i class="fa fa-check-circle text-success"></i>
                                        </td>
                                        <td>Hình ảnh</td>
                                        <td width="160px">
                                            <a href="#" class="btn btn-primary" style="float:left; margin-right:4px;"> <i class="fa fa-edit"></i> Xem </a>
                                            <button href="#" class="btn btn-danger"> <i class="fa fa-pencil"></i> Xóa </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>admin</td>
                                        <td>Minh Thành</td>
                                        <td>2020-11-20 14:15:20</td>
                                        <td class="text-center">
                                            <i class="fa fa-times-circle text-danger"> </i>
                                        </td>
                                        <td>Hình ảnh</td>
                                        <td>
                                            <a href="#" class="btn btn-primary"> <i class="fa fa-edit"></i> Xem </a>
                                            <a href="#" class="btn btn-danger"> <i class="fa fa-pencil"></i> Xóa </a>
                                        </td>
                                    </tr>


                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="panel-footer">
                        Panel Footer
                    </div>
                </div>
                <!--  End  Striped Rows Table  -->
            </div>

        </div>
        <footer><p>All right reserved. Template by: <a href="http://webthemez.com">WebThemez.com</a></p></footer>
    </div>

    <!-- /. PAGE INNER  -->
</div>

